body {
  background-color: rgb(240, 202, 153);
  fontsize: 25px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(./images/bg.jpg);
  background-repeat: repeat;
  background-size: 1920px 969px;
  text-align: center;
}
#title {
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 50px;
}
h2 {
  text-align: center;
  font-size: 35px;
  background-color: #fae7c2;
  width: 700px;
  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 15px solid rgba(23, 58, 87, 0.616);
}
.q {
  background-color: rgb(240, 192, 129);
  width: 600px;
  color: #5c755e;
  
}